/* ForgotPassword.css */
.container {
    max-width: 500px;
    margin: 0 auto;
  }
  
  .card {
    border-radius: 10px;
    overflow: hidden;
  }
  
  .card-header {
    padding: 15px 20px;
  }
  
  .card-body {
    padding: 20px;
  }
  
  .input-group-text {
    background-color: #f7f7f7;
  }
  
  .form-control {
    border-radius: 0 5px 5px 0;
  }
  
  .form-group label {
    font-weight: bold;
    margin-bottom: 5px;
  }
  
  .btn {
    border-radius: 5px;
    font-size: 16px;
  }
  
  .text-success {
    font-size: 14px;
  }
  